html,
body {
    height: 100%;
    width: 100%;
    background-color: #6951F0;
    color: white;
}

table {
    width: 100%;
    max-width: 300px;
    float: right;
    height: 100%;
    text-align: center;
}

.ticket-actual {
    background-color: #282828;
}

.ticket-actual-numero {
    font-size: 35px;
}

.ticket-actual-escritorio {
    font-size: 32px;
}

.ticket-secundario {
    font-size: 20px;
}


/* Nuevo-ticket */

#lblNuevoTicket {
    font-size: 32px;
}

h3, p, div, h5 {
    color:#000;
}