
.chat-main-box {
    position: relative;
    overflow: hidden;
}

.chat-main-box .chat-left-aside {
    position: relative;
    width: 250px;
    float: left;
    z-index: 9;
    top: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
    padding-right: 10px;
}

ul.chatonline li{
    list-style: none;
    padding: 10px;
    border:1px solid rgba(0,0,0,0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 1px #000;
    
}

.chat-main-box .chat-right-aside {
    width: calc(100% - 250px);
    float: left;
    padding-left: 10px;
}

html body .b-b {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
ul.chatonline {
    padding-left: 0px;
    
}
ul.chatonline li a{
    text-decoration: none;
    
    color:#000;
    font-weight: 400;
    text-transform: uppercase;
    
}
div.chat-right-aside{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

div.chat-rbox ul li{
   list-style: none;
   margin-top: 30px;
}

.chat-main-box .chat-right-aside .chat-rbox {
    height: auto;
    position: relative;
}
.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 600px !important;
}

textarea {
    width: 100%;
}
.chat-main-box .chat-right-aside .chat-list {
    max-height: none;
    height: 100%;
    padding-top: 40px;
}

html body .b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}

.chat-list li.reverse {
    text-align: right;
}
.chat-list li.reverse .chat-content {
    padding-left: 0px;
    padding-right: 15px;
}
.chat-list li .chat-content {
    width: calc(100% - 140px);
    display: inline-block;
    padding-left: 15px;
}
.chat-list li .chat-content h5 {
    color: #99abb4;
}
.chat-list li .chat-content .box {
    display: inline-block;
    margin-bottom: 10px;
    color: #263238;
}
html body .bg-light-inverse {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
}
html body .bg-light-info {
    background-color: #cfecfe;
    padding: 20px;
    border-radius: 10px;
}