/* NavBar Styles */
.navbar {
	background-color: black;
	z-index: 50;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.navbar-container {
	display: flex;
	align-items: center;
	max-width: 1200px;
}
.nav-logo {
	width: 100px;
	scale: 2.5;
}
.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-title {
}

.navbar-title :nth-child(2) {
	color: orange;
}

.navbar-toggle {
	display: none;
	cursor: pointer;
}

.navbar-toggle button {
	padding: 4px 6px;
	border: orange solid;
	border-radius: 5px;
	outline: none;
	background-color: black;
	color: orange;
}

.navbar-links {
	display: flex;
	align-items: center;
}

.navbar-list {
	list-style: none;
	display: flex;

	padding-top: 0;
}

.navbar-icon {
	width: 12px;
	height: 12px;
}

.navbar-item {
	margin: 0 10px;
}

.navbar-link {
	display: flex;
	font-size: 25px;
	color: white;
	font-weight: bolder;
	text-decoration: none;
}

.navbar-link:hover {
	text-decoration: underline;
	text-decoration-color: orange;
	scale: 1.2;
	transition-property: text-decoration;
	transition-property: scale;
	transition-duration: 3s;
}

.navbar-icon-link {
	margin-left: 15px;
}

.block {
	display: block;
	display: flex;
	align-items: center;
}

.hidden {
	display: flex;
}

.navbar-info {
	display: flex;
	align-items: center;
	margin: 0 30px;
}

.navbar-btns {
	display: flex;
	align-items: center;
}

.navbar-btn {
	border: solid orange;
	background-color: orange;
	color: black;
	font-weight: bold;
	padding: 5px;
	margin-left: 15px;
	border-radius: 10px;
}

.navBar-icon {
	display: none;
}

.navbar-btn:hover {
	box-shadow: 0 0 20px rgb(234, 128, 7);
	transition-property: box-shadow;
	transition-duration: 1s;
}

.modal {
	position: fixed;
	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-is-open {
	display: flex;
	z-index: 900;
}

.modal-container {
	min-width: 320px;
	max-width: 600px;
	min-height: 200px;
	max-height: 600px;
	z-index: 900;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
	}
	.navbar-title {
		font-size: medium;
		padding-left: 30px;
	}
	.navbar-container {
		flex-direction: column;
		align-items: start;
		padding: 0 0px;
		margin-left: 40px;
	}

	.navbar-brand {
		margin-bottom: 10px;
	}
	.nav-logo {
		width: 100px;
		scale: 1.5;
	}
	.navbar-toggle {
		display: flex;
		margin-left: 0;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar-links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbar-link {
		font-size: 20px;
	}

	.navbar-list {
		flex-direction: column;
		margin: 20px 0;
		align-items: center;
		justify-content: center;
	}

	.navbar-item {
		margin: 10px 0;
		width: 125%;
	}

	.navBar-icon {
		display: flex;
		position: absolute;
		right: 60px;
		font-size: 30px;
	}

	.hidden {
		display: none;
	}
	.block {
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.navbar-btns {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.navbar-btn {
		margin-bottom: 10px;
		width: 125%;
	}

	.modal-container {
		min-width: 80vw;
		max-width: 90vw;
		min-height: 200px;
		max-height: 600px;
		z-index: 900;
	}
}
