.about {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.about-container1 {
	display: flex;
	justify-content: center;
}
.about-container2 {
	display: flex;
	justify-content: center;
	margin-left: 100px;
}

.about-text1 {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: 60px;
}
.about-text1 :nth-child(1) {
	margin: 0;
}
.about-title1 {
	font-size: 25px;
	margin: 0;
	color: orange;
}
.about-text1 p {
	color: white;
	width: 500px;
	font-size: 18px;
}
.about-img1 {
	width: 350px;
	height: 300px;
}

.about-title2 {
	display: flex;
	font-size: 25px;
	color: orange;
}

.about-text2 {
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 50px;
}

.about-text2 p {
	width: 400px;
	font-size: 18px;
}

.about-img2,
.about-img3 {
	width: 250px;
	height: 200px;
	border-radius: 10%;
	box-shadow: 0 0 20px rgb(234, 128, 7);
}

.about-container2 :nth-child(1) {
	display: flex;
	flex-direction: column;
}

.about-img2 {
	position: absolute;
	z-index: 10;
}
.about-img3 {
	margin-left: 150px;
	margin-top: 150px;
	z-index: 30;
}
