.admin-side-menu {
	height: 1024px;
	background-color: #ffa101;
	border-radius: 0px 120px 0 0px;
	color: #000;
	min-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin-side-menu h1 {
	color: #000;
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 78px;
	margin-bottom: 78px;
}
.admin-side-link {
	margin-right: 50px;
	margin-bottom: 40px;
	width: max-content;
	display: flex;
}

.admin-side-link :hover {
	color: white;
}

.admin-side-link a {
	color: #000;
	font-family: Outfit;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
}

.admin-side-link :nth-child(1) {
	font-size: 30px;
	color: white;
	margin-right: 10px;
}

.admin-side-img img {
	border: black 2px solid;
	width: 160px;
	height: 160px;
	border-radius: 100%;
}

.admin-side-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
